<img
  [src]="ui.icon"
  *ngFor="let ui of systems"
  (click)="activeUI = ui.label"
  [class.active]="activeUI === ui.label"
/>

<div [class]="activeUI">
  <div class="tabs">
    <ul>
      <li [class.active]="activePanel === 'buttons'">
        <a (click)="activePanel = 'buttons'">Buttons</a>
      </li>
      <li [class.active]="activePanel === 'typography'">
        <a (click)="activePanel = 'typography'">Typography</a>
      </li>
      <li [class.active]="activePanel === 'alert'">
        <a (click)="activePanel = 'alert'">Alert</a>
      </li>
      <li [class.active]="activePanel === 'layout'">
        <a (click)="activePanel = 'layout'">Layout</a>
      </li>
      <li [class.active]="activePanel === 'icons'">
        <a (click)="activePanel = 'icons'">Icons</a>
      </li>
      <li disabled><a>others</a></li>
    </ul>
  </div>

  <section *ngIf="activePanel === 'alert'">
    <div role="alert">
      <button role="close"></button> A simple primary alert—check it out!
    </div>
  </section>

  <section *ngIf="activePanel === 'icons'"><app-icons></app-icons></section>

  <section *ngIf="activePanel === 'buttons'">
    <app-buttons></app-buttons>
  </section>

  <section *ngIf="activePanel === 'typography'">
    <app-typography></app-typography>
  </section>

  <section *ngIf="activePanel === 'layout'"><app-layout></app-layout></section>
</div>
