<img [src]="ui.icon" *ngFor="let ui of systems" (click)="activeUI = ui.label" [class.active]="activeUI === ui.label" />


<div [class]="activeUI">

    <div class="tabs">
        <ul>
            <li [class.active]="activePanel === 'buttons'">
                <a (click)="activePanel = 'buttons'">Buttons</a>
            </li>
            <li [class.active]="activePanel === 'typography'">
                <a (click)="activePanel = 'typography'">Typography</a>
            </li>
            <li disabled>
                <a>others</a>
            </li>
        </ul>
    </div>

    <section *ngIf="activePanel==='buttons'">
        <app-buttons></app-buttons>
    </section>

    <section *ngIf="activePanel==='typography'">
        <app-typography></app-typography>
    </section>


</div>
