<div [class]="type">
    <h1>{{type}}</h1>
    <h2>{{type}}</h2>
    <h3>{{type}}</h3>
    <h4>{{type}}</h4>

    <div>
        Buttons sizes

        <button class="small">button</button>
        <button>button</button>
        <button class="large">button</button>
    </div>
    <div>
        button types:

        <button>standard</button>
        <button class="outline">outline</button>
        <a role="button">Link</a>

        <button class="block small">small block</button>
        <button class="block">block</button>
        <button class="block large outline">outline large block</button>
        <button class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <a class="flat">flat</a>
    </div>

    <div>
        button states
        <button class="active">active</button>
        <button class="passive">passive</button>
        <button disabled>disabled</button>
    </div>

    <div>
        misc
        <a role="button" disabled>disabled link</a>
        <input type="button" value="input">
        <input type="button" disabled value="disabled input">
    </div>
</div>
