// work on SPA github
// responsive classes
// test in home page for example
// generic layout rules for the header - try to emulate
// class for page break/new row
// checkout smart layout wiki

.cx-layout2 {
  display: flex;
  flex-direction: column;
}
//------------------------

.layour-wrapper {
  margin: 20px 0;
  max-width: 50%;
  border: 3px dashed lightcyan;
}

.image {
  height: 400px;
}

.image1 {
  background-image: url('https://placeimg.com/640/400/arch');
}
.image2 {
  background-image: url('https://placeimg.com/640/400/tech');
}
.image3 {
  background-image: url('https://placeimg.com/640/400/nature');
}
.image4 {
  background-image: url('https://placeimg.com/640/400/animals');
}
.image5 {
  background-image: url('https://placeimg.com/640/400/people');
}
.image6 {
  background-image: url('https://placeimg.com/640/400/nature/sepia');
}
.image7 {
  background-image: url('https://placeimg.com/2000/400/animals/grayscale');
}
.image8 {
  background-image: url('https://placeimg.com/2000/400/tech/sepia');
}
.image9 {
  background-image: url('https://placeimg.com/2000/400/people/sepia');
}
