<div class="c">TEST
    <br>
    TEST
</div>

<div class="">
    <div class="test-layout">
        <div class="test-layout">
            <app-image1></app-image1>
            <app-image2></app-image2>

        </div>
        <!-- <div class="image image2"></div>
        <div class="image image3"></div>
        <div class="image image4"></div>
        <div class="image image5"></div>
        <div class="image image6"></div>
        <div class="image image7"></div>
        <div class="image image8"></div>
        <div class="image image9"></div> -->
    </div>
</div>



<!--
<div class="layour-wrapper">

    <h5>Layout - components vertically stacked</h5>
    <div class="cx-layout2">

        <div class="image image1">
            <div></div>
        </div>
        <div class="image image2"></div>
        <div class="image image3"></div>
        <div class="image image4"></div>
        <div class="image image5"></div>
        <div class="image image6"></div>
        <div class="image image7"></div>
        <div class="image image8"></div>
        <div class="image image9"></div>
    </div>
</div>
<div class="cx-layout3"></div>
<div class="cx-layout4"></div>
<div class="cx-layout5"></div> -->