/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Open Sans';
}

$primary: rgb(96, 125, 139);
$primary-color: $primary;

.bootstrap {
  @import '../../agnos/scss/bootstrap';
  @include _bootstrap($button: true, $alert: true, $tabs: true, $typography: true);
}

.bulma {
  @import '../../agnos/scss/bulma';
  @include _bulma($button: true, $alert: true, $tabs: true, $typography: true);
}

.foundation {
  $foundation-palette: (
    primary: $primary,
    secondary: #767676,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37
  );
  @import '../../agnos/scss/foundation';
  @include _foundation($button: true, $alert: true, $tabs: true, $typography: true);
}

.materialize {
  $secondary-color: $primary;
  @import '../../agnos/scss/materialize';
  @include _materialize($button: true, $alert: true, $tabs: true, $typography: true);
}

.fundamental-ui {
  $fd-colors-action: (
    1: $primary
  );

  @import '../../agnos/scss/fundamental-ui';
  @include _fundamental_ui($button: true, $alert: true, $tabs: true, $typography: true);
}
